.detalles-golosina {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  margin: 20px auto;
  text-align: center;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.detalles-golosina h2 {
  font-size: 34px;
  color: #720909;
  margin-bottom: 10px;
}
.detalles-golosina p {
  font-size: 18px;
  color: #333;
  margin: 10px 0;
  font-family: monospace;
  font-weight: bold;
}
a {
  display: inline-block;
  text-align: center;
  margin-top: 20px;
  text-decoration: none;
  color: #6200ff;
  font-weight: bold;
  transition: color 0.2s ease-in-out;
  font-size: 100%;
}

a:hover {
  color: #ff4500;
}

.detalles-golosina img {
  max-width: 50%;
  height: 10%;
  display: block;
  margin: 0 auto;
}
body {
  background-color: #daeef1;
}

h1 {
  color: #333;
  font-size: 85px;
  text-align: center;
  margin-top: 20px;
  color: #086410;
}

#volverBtn {
  display: inline-block;
  padding: 10px 20px;
  background-color: #db24b3;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#volverBtn:hover {
  background-color: #0056b3;
}
