body {
  margin: 0;
  padding: 0;
  font-family: "comics", sans-serif;
  background-color: #fde4b7;
}

h1 {
  text-align: center;
  font-size: 48px;
  color: #331c72;
  margin: 40px 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-family: "Franklin Gothic Medium";
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 30px;
  padding: 20px;
  justify-content: center;
}

.grid-item {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  transition: transform 0.2s ease-in-out;
}

.grid-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
}
